# AWSアカウントのセキュリティベースライン変更はインフラ管理Teamのreviewが必要
/baseline/          @your-org/infra-approvers
/modules/           @your-org/infra-approvers
/.github/workflows/ @your-org/infra-approvers
/.github/CODEOWNERS @your-org/infra-approvers
